.Locker {
    width: 300px;
    margin: 0 auto;
    margin-top: 10px;
}

button {
    width: 70px;
    height: 40px;
    margin: 5px;
}

.Password {
    display: inline-block;
    width: 235px;
    height: 50px;
    border: 1px solid #000;
    text-align: center;
    background: red;
}

.Green {
    background: lightgreen;
}

